<script id="bootstrap-current-user" type="text/javascript">
  <% if signed_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:600|Sacramento');
</style>


<main id="root"></main>
