// Place all the styles related to the api/cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$base: 0.75em;
.cities-container {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: center;
  padding: 0rem 4rem;
  justify-content: space-between;

}
.cities-list {
  // height: 23rem;
  // width: 23orrem;
  max-width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  padding: 1rem 12rem;
}

 .inner-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

p.img-text {
  z-index:1;
  color: rgba(255,0,0,0.75);
  font-weight:bold;
  font-family: 'Fjalla One', sans-serif;
  font-size: $base*2;
}

p.img-text:hover {
  text-decoration: underline;
}
.SF {
  background-image: url("https://res.cloudinary.com/flying-monkey/image/upload/q_80/v1500917215/sf_t5qwmt.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  min-height: inherit;
  min-width: inherit;
}
.NYC {
  background-image: url("https://res.cloudinary.com/flying-monkey/image/upload/q_80/v1500917188/nyc_ow7rzd.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  min-height: inherit;
  min-width: inherit;
}
.PRL {
  background-image: url("https://res.cloudinary.com/flying-monkey/image/upload/q_80/v1500917194/portland_tqvwwi.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  min-height: inherit;
  min-width: inherit;
}
.LDN {
  background-image: url("https://res.cloudinary.com/flying-monkey/image/upload/q_80/v1500958980/london3jpg_exw9tj.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  min-height: inherit;
  min-width: inherit;
}
.BST {
  background-image: url("https://res.cloudinary.com/flying-monkey/image/upload/q_80/v1500917428/boston_sgejl8.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  min-height: inherit;
  min-width: inherit;
}

.CHG {
  background-image: url("https://res.cloudinary.com/flying-monkey/image/upload/q_80/v1500917221/chicago_cptebs.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  min-height: inherit;
  min-width: inherit;
}

.city-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  min-height: 10em;
  min-width: 18em;
  padding: 0.5em 0.9em;
  .button-link {
    padding: 0.7em 0rem 0rem 0rem;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: $base*1.5;
  }
  p.p1 {
    padding: 0.7rem 0rem 0rem 0rem;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: $base*1.5;
    color: #343336;
  }

}
.cities-header2{
  padding-top: 1rem;
  margin-top: 1rem;
}
.cities-header1, .cities-header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2, h3 {
    padding: 0.5rem;
    padding-bottom: 0;
    font-family: 'Amatic SC', cursive;
    // color: rgb(92, 92, 92);
    font-weight: 300;
    font-size: $base*5;
  }
  h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    font-size: $base*2;
  }

}
//////////////////////////////////////////////////////
button-link {
position: relative;
display: inline-block;
// margin: 15px 25px;
outline: none;
color: #fff;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
text-shadow: 0 0 1px rgba(255,255,255,0.3);
font-size: 1.35em;
}
button-link:hover, button-link:focus {
outline: none;
}
/* Effect 1: Brackets */
.button-link::before, .button-link::after {
display: inline-block;
opacity: 0;
-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
-moz-transition: -moz-transform 0.3s, opacity 0.2s;
transition: transform 0.3s, opacity 0.2s;
}
.button-link::before {
margin-right: 10px;
content: '[';
-webkit-transform: translateX(20px);
-moz-transform: translateX(20px);
transform: translateX(20px);
}
.button-link::after {
margin-left: 10px;
content: ']';
-webkit-transform: translateX(-20px);
-moz-transform: translateX(-20px);
transform: translateX(-20px);
}
.button-link:hover::before, .button-link:hover::after, .button-link:focus::before, .button-link:focus::after {
opacity: 1;
-webkit-transform: translateX(0px);
-moz-transform: translateX(0px);
transform: translateX(0px);
}

div.transbox {

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(255,255,255,0.5);
  // background-color: #eddfb1;
  // opacity: 0.4;
  // filter: alpha(opacity=60); /* For IE8 and earlier */
  // background-size: cover;
  min-height: inherit;
  min-width: inherit;
}
