$base: 0.75rem;
div.big-city-container {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: center;
  // padding: 0rem 4rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  // min-height: 9rem;
  // min-width: 15rem;
  // padding: 0.5rem 1rem;

  .SF {
    background-image: url("http://res.cloudinary.com/flying-monkey/image/upload/c_crop,h_712,q_80,w_2580,x_0,y_680/v1500917215/sf_t5qwmt.jpg");
    background-repeat: no-repeat;
    height: auto;
    width: 101%;
    background-size: cover;
    min-height: 18rem;
    min-width: 15rem;
  }

  .NYC {
    background-image: url("http://res.cloudinary.com/flying-monkey/image/upload/c_crop,h_1330,q_80,w_4820,y_1448/v1500917188/nyc_ow7rzd.jpg");
    background-repeat: no-repeat;
    height: auto;
    width: 101%;
    background-size: cover;
    min-height: 18rem;
    min-width: 15rem;
  }
  .PRL {
    background-image: url("http://res.cloudinary.com/flying-monkey/image/upload/c_crop,h_1432,q_80,w_5192,y_1000/v1500917194/portland_tqvwwi.jpg");
    background-repeat: no-repeat;
    height: auto;
    width: 101%;
    background-size: cover;
    min-height: 18rem;
    min-width: 15rem;
  }
  .LDN {
    background-image: url("http://res.cloudinary.com/flying-monkey/image/upload/c_crop,h_1510,q_80,w_5472,y_850/v1500958980/london3jpg_exw9tj.jpg");
    background-repeat: no-repeat;
    height: auto;
    width: 101%;
    background-size: cover;
    min-height: 18rem;
    min-width: 15rem;
  }
  .BST {
    background-image: url("http://res.cloudinary.com/flying-monkey/image/upload/c_crop,h_988,q_80,w_3583,y_595/v1500917428/boston_sgejl8.jpg");
    background-repeat: no-repeat;
    height: auto;
    width: 101%;
    background-size: cover;
    min-height: 18rem;
    min-width: 15rem;
  }

  .CHG {
    background-image: url("http://res.cloudinary.com/flying-monkey/image/upload/c_crop,h_1457,q_80,w_5282/v1500917221/chicago_cptebs.jpg");
    background-repeat: no-repeat;
    height: auto;
    width: 101%;
    background-size: cover;
    min-height: 18rem;
    min-width: 15rem;
  }
}
p.img-text2 {
  position: relative;
  z-index:1;
  color: rgba(255,0,0, 0.6);
  font-weight:bold;
  font-family: 'Fjalla One', sans-serif;
  font-size: $base*6;
  display: flex;
  align-items: baseline;
  align-content: baseline;
  // opacity: 0.5;
}
p.img-text3 {
  position: relative;
  z-index:1;
  color:rgba(0,0,0, 0.7);
  font-weight:bold;
  font-family: 'Fjalla One', sans-serif;
  font-size: $base*2;
  // opacity: 1;
}

div.transbox2 {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(255,255,255,0.5);
  // opacity: 0.7;
  // filter: alpha(opacity=60); /* For IE8 and earlier */
  // background-size: cover;
  min-height: inherit;
  min-width: inherit;
}


div.img-text {
  align-content: flex-end;
  align-items: flex-end;
  margin: 0;
  // texopacity: 0.8;
}


.city-header1, .city-header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  margin-bottom: 1rem;
  h3, p {
    padding: 2rem 0rem 0.5rem 0rem;
    font-family: 'Amatic SC', cursive;
    // color: rgb(92, 92, 92);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  p{
    padding-top: 0.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

div.event {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 70vw;
  .city-event-item-container {
    background-color: #fffdf8;
    width: 15rem;
    height: 18rem;
    margin: 1rem 1.5rem;
    padding: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #ddd;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    .event-details{
      display: flex;
      flex-direction: column;
      height: 15rem;
      align-items: center;
      .event-city-name {
        color: rgba(255,0,0,0.8);
        margin-top: 1rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
      }
      .event-day {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #929292;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.1rem;
        padding-top: 1rem;
      }
      .box-footer {
        width: 13rem;
      }
      .event-month, .event-daynumber{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: rgb(52, 51, 54);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2rem;
        padding-top: 0.7rem;
      }
      .event-description, .event-address {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: #929292;
        font-size: 1rem;
        padding: 0.5rem;
        font-weight: bold;
        text-align: left;
      }
      .event-detail {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
      .day {
        display: flex;
      }
    }
  }
}
.small-border {
  position: relative;
  border-style: solid;
  border-width: 0.1rem;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: #ddd;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  height: 3rem;
  .sign-button {
    background-color: rgba(255, 188, 72, 0.5);
    // padding: 0.5rem 0.7rem;
  }
}
.sign-button1 {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: $base*1.2;
  border:solid 2px #929292;
  align-self:center;
  margin:2rem;
  background: white;
  padding: 1rem 0.9rem;
  margin: 0.5rem 1rem;
  transition:all .5s ease;
  // color:#41403E;

  letter-spacing:1px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
