.city-event-item-container {
  background-color: #fffdf8;
  width: 15rem;
  height: 16rem;
  margin: 1rem;
  padding: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #ddd;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  .event-details{
    display: flex;
    flex-direction: column;
    height: 15rem;
    align-items: center;
    .event-city-name {
      color: rgba(240,128,128, 0.9);
      margin-top: 1rem;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .event-day {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      color: #929292;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1rem;
      padding-top: 1rem;
    }
    .box-footer {
      width: 13rem;
    }
    .event-month, .event-daynumber{
      font-family: 'Yanone Kaffeesatz', sans-serif;
      // color: #929292;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2rem;
      padding-top: 0.7rem;
    }
    .event-description, .event-address {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      color: #929292;
      font-size: 1rem;
      padding: 0.5rem;
      font-weight: bold;
      text-align: left;
    }
    .event-detail {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    .day {
      display: flex;
    }
  }
}

.dashboard-hosted-events, .dashboard-current-events {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 70vw;
}

.dashboard-ul, .dashboard-ul-current {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.join {
  display: flex;
  justify-content: center;
}
