nav.footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  max-width: 60%;
  .footer-paragraph1 {
    padding: 1.8rem 1rem 1rem 1rem;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    max-width: 100%;
    font-size: .8rem;
    text-align: center;
  }
  .footer-paragraph2 {
    padding: 1rem 1rem 0rem 1rem;
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    font-size: .8rem;
    text-align: center;
  }
  div.footer-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.footer-div {
  display: flex;
  justify-content: center;
}

// p.footer-paragraph {
//   font-size: 100px;
// }
