<!DOCTYPE html>
<html>
  <head>
    <title>LetsCode</title>
    <link rel="icon" href="http://res.cloudinary.com/flying-monkey/image/upload/q_100/v1500689347/Logomakr_4zRgdA_ngwlr7.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:700|Open+Sans+Condensed:300|Raleway:400i|Sacramento');
    </style>


  </head>

  <body>
    <%= yield %>
  </body>
  <!-- Arrows graphic by <a href="http://www.flaticon.com/authors/dave-gandy">dave_gandy</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/6c8O0u6c8O0u -->
</html>
