<!DOCTYPE html>
<html>
  <head>
    <title>LetsCode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab:700|Open+Sans+Condensed:300|Raleway:400i|Sacramento');
    </style>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
