<!DOCTYPE html>
<html>
  <head>
     <style>
       @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Fjalla+One|Fredericka+the+Great|Josefin+Slab:600,700|Yanone+Kaffeesatz:300');
    </style>

    <title>LetsCode</title>
    <link rel="icon" href="https://res.cloudinary.com/flying-monkey/image/upload/c_crop,h_402,w_513/v1501200502/w_o_brackets_ry7q6s.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
